# -----------------------------
# Python
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*$py.class

# -----------------------------
# Virtual Environments
# -----------------------------
.venv/
venv/
env/
ENV/

# -----------------------------
# Model Weights
# -----------------------------
*.pt
*.pth
*.onnx

# -----------------------------
# Videos / Data Files
# -----------------------------
videos/
*.mp4
*.avi
*.mov

# -----------------------------
# Logs
# -----------------------------
*.log
*.json
*.csv

# -----------------------------
# VS Code
# -----------------------------
.vscode/

# -----------------------------
# Jupyter
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# OS Files
# -----------------------------
.DS_Store
Thumbs.db
