# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
pip-wheel-metadata/

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# =========================
# VSCode
# =========================
.vscode/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Model Weights
# =========================
*.pt
*.pth

# =========================
# Videos / Outputs
# =========================
*.mp4
*.avi
*.mov
output_*.mp4

# =========================
# Cache
# =========================
.cache/
